.App{
  /* min-height: 1; */
  /* display: flex; */
}

.chats{
  border-right: 3px solid rgb(100,100, 100);
  border-left: 3px solid rgb(100,100, 100);
  /* flex: 1; */
  margin-right: 25%;
  margin-left: 25%;
}

.messages{
  height: 70%;  
}

.chatFooter{
  align-items: center;
}

.chatUser>img {
  height: 50px;
  width: 50px;
}

.chatBot>img {
  height: 50px;
  width: 50px;
}